<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<!--All Scenaria-->
		<add key="morseLookupFilePath" value="H:\development\MorseDecoder\data\morse.txt"/>

		<!--Production-->
		<add key="militaryDictionaryFilePath" value="H:\development\MorseDecoder\data\military_words.txt"/>
		<add key="mysteryCodeFilePath" value="H:\development\MorseDecoder\data\mysteryCode.txt"/>
		<add key="solutionLogFilePath" value="H:\development\MorseDecoder\data\decoded.txt"/>
		<add key="discardedLogFilePath" value="H:\development\MorseDecoder\data\discarded.txt"/>
		<add key="solutionRequiredWordCount" value="10"/>
		<add key="solutionRequiredCharacterCounts" value="T=5;E=4"/>

		<!--Testing-->
		<!--	
		<add key="militaryDictionaryFilePath" value="H:\development\MorseDecoder\data\testDictionary.txt"/>
		<add key="mysteryCodeFilePath" value="H:\development\MorseDecoder\data\testMessage.txt"/>
		<add key="solutionLogFilePath" value="H:\development\MorseDecoder\data\testDecoded.txt"/>
		<add key="discardedLogFilePath" value="H:\development\MorseDecoder\data\testDiscarded.txt"/>
		<add key="solutionRequiredWordCount" value="3"/>
		<add key="solutionRequiredCharacterCounts" value="T=2;A=2"/>
		-->
	</appSettings>
</configuration>